<div class="reviewcard">
    <div class="rcDiv head textrows">
        <p class="name">{{reviewdata.nom}}</p>
        <p class="date">{{reviewdata.date}}</p>
    </div>
    <div class="rcDiv infos textrows">
        <p class="meal">Plat(s)</p>
        <p class="price">{{reviewdata.price}}€</p>
    </div>
    <div class="rcDiv commDiv textrows">
        <p class="comm">{{reviewdata.commentary}}</p>
    </div>
    <div class="rcDiv textrows">
        <p class="note">{{reviewdata.note}}</p>
        <img src="assets/note5"/>
    </div>
</div>
